.navbar{
    top: 0;
}

.ai-header-container{
    position: relative;
    width: 60%;
    margin: auto;
    top:100px;
    background-color:#161C2B ;
  }  

.addInvoice-header{
    text-align: center;
    color:#9DECEC;
    font-weight: 600;
    font-family: 'Montserrat';
    margin-bottom: 0;
  }
  .div-btn1{
    text-align: center;
  }

.addinvoice-container:hover {
    border: 1px solid #8da9ef;
}

.addinvoice-container {
    margin: auto;
    margin-top: 130px;
    background-color: #222836;
    width: 65%;
    min-width: 1000px;
    /* height: 550px; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.add-invoice-form {
    width: 100%;
    text-align: center;
}

.addinvoice-div {
    margin-top: 70px;
    width: 100%;
    display: flex;
    margin-left: 85px;
}

.addinvoice-div label {
    margin: 5px 35px;
    color: white;
}

.MuiInputBase-root{
    color: grey !important;
    border-bottom: 2px solid white;
}

.MuiAutocomplete-option {
    color: grey;
    font-size: 17px;
    padding-left: 18px !important;
    padding-right: 18px !important;
    display: inline-table !important;
    font-weight: bold;
    text-transform: uppercase; 
}

.MuiAutocomplete-listbox {
    display: block;
}

.MuiAutocomplete-hasPopupIcon .MuiAutocomplete-inputRoot, .MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot {
    width: 250px;
    margin-right: 15px ;
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] .MuiAutocomplete-input:first-child {
    padding-left: 4px !important;
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] .MuiAutocomplete-input {
    padding: 3.5px 4px !important;
}

.MuiIconButton-root {
    color: white !important;
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    margin-top: 4px;
    padding: 3px !important;
    border-radius: 3px !important;
    padding-left: 10px !important;
}

.generalInput input {
    width: 250px;
    /* border-radius: 3px; */
    border: 1px solid grey;
    padding-left: 10px;
    padding: 5px;
    background-color: transparent;
}

.addinvoice-div .btn {
    color: white;
    width: 250px;
    text-align: start;
}

.invoice-no{
    margin-right: 15px;
    margin-left: -7px;
}

.amount{
    margin-right: 15px;
    margin-left: 11px;
}

.date{
    margin-left: 80px;
}

.sgst{
    margin-right: 10px;
}

.cgst{
    margin-right: 10px;
}

.total-price{
    margin-left: 45px;
}

.btn:hover{
    background-color: #161c2b;
}

.addinvoice-container input {
    color: grey;
    border: none;
}

.generalInput input{
    border-bottom: 2px solid white;
    
}

.btn-save {
    width: 130px;
    height: 40px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 7px;
    background-color: #373A89;
    color: white;
    border: none;
    border-radius: 20px;
}

.sg{
    display: flex;
}

.cg{
    display: flex;
}

@media(max-width:800px){
    .addinvoice-container{
        width: 100%;
        /* min-width: 100%; */
        /* overflow-x:hidden; */
    }
    .add-invoice-form{
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }
    .addinvoice-div{
        margin-left: 0;
    }
    
}
@media(max-width:600px){
    .addinvoice-container{
        width: 100%;
        min-width: 300px;
    }
    .addinvoice-div>input{
       margin: auto;
        /* flex-wrap: wrap; */
    }
    .addinvoice-div{
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
    }
    .addinvoice-div>label{
        margin-top: 15px;
    }
    .auto-comp{
        margin: auto;
        padding-left: 13px;
    }


}

