* {
    color: white;
}
.MuiDataGrid-root.MuiDataGrid-root--densityStandard.MuiDataGrid-withBorderColor.css-1usso8h-MuiDataGrid-root {
    margin-top: 20px;
}
.css-1usso8h-MuiDataGrid-root .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)>.MuiDataGrid-cell{
    color: white;
}
.css-10hburv-MuiTypography-root{
    color: black;
}
.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
    color: black;
}
.css-ptiqhd-MuiSvgIcon-root{
    background-color: black;
}
.css-h4y409-MuiList-root{
    color: black;
}
.css-10by3a5-MuiButtonBase-root-MuiMenuItem-root-MuiTablePagination-menuItem.Mui-selected {
    color: black;
}
.css-10by3a5-MuiButtonBase-root-MuiMenuItem-root-MuiTablePagination-menuItem {
    color: black;
}

.invoice-list-heading {
    text-align: center;
    margin-top: 4.5rem;
}

.MuiNativeSelect-select option {
    margin-left: 10px;
    color: gray;
}
.css-6hp17o-MuiList-root-MuiMenu-list{
    color: black;
}

.MuiButton-contained {
    background-color: #1976D2 !important;
}

.css-194a1fa-MuiSelect-select-MuiInputBase-input.css-194a1fa-MuiSelect-select-MuiInputBase-input.css-194a1fa-MuiSelect-select-MuiInputBase-input {
    color: white;
}