.myprofile-heading{
    margin-top: -30px !important;
    text-align: center;
    padding-top: 8rem;
    color: #9DECEC;
}

.profile{
    /* text-align: center; */
    padding-left: 15%;
    padding-top: 3rem;
}

.profile-img{
    border-radius: 100%;
    padding-bottom: 10px;
}

.information{
    padding-top: 2rem;
}

.name{
    padding-left: 105px;
}

.email{
    padding-left: 110px;
}

.type{
    padding-left: 70px;
}

.n{
    padding-left: 50px;
}