.css-6hp17o-MuiList-root-MuiMenu-list {
    display: inline-table !important;
}
.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
    background-color: #d7d7f3 !important;
    margin-top: -10px;
}
